*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 微软雅黑;
	background-color: #29b54a;
	/*background-color: #5B1344;*/
}
#divKey{

	width: 30%;
	margin: auto;
	margin-top: 70px;
	font-size: 30px;

}
#divInputText{
	width: 50%;
	height: 35px;
	margin: auto;
	font-size: 30px;

}
#divInputSub{
	width: 20%;
	height: 35px;
	font-size: 28px;
}
.aLogin p{
	margin: 0 0 0 50px;
	font-size: 18px;
}
.aLogin a{
	margin: 0 0 0 50px;
	font-size: 18px;
	text-decoration: none;
	color: #9932CC;
}
#lump{
	width: 50%;
	height: 180px;
	background-color: #ffffff;
	border-radius: 5px;/*变成元角*/
	margin: auto;
	margin-top: 70px;
}
#pText{
	padding: 10px 0 0 20px;
	/*margin: 30px 0 0 20px;*/
}
#div_form{
	width: 90%;
	height: 100px;
	/*border: 1px solid red;*/
	margin: auto;
}
#inputText{
	width: 300px;
	width: 70%;
	height: 25px;
	margin: 10px;
	font-size: 1em;
}
#inputContent{
	resize: none;
	/*width: 540px;*/
	width: 100%;
	height: 60px;
	margin: 0 10px;
	font-size: 1.25em;
}
#sub{
	width: 80px;
	height: 30px;
	float: right;
	margin: 10px 20px;

}
.divUser{
	width: 48%;
	background-color: #ffffff;
	/*border: 1px solid red;*/
	margin: auto;
	margin-top: 3%;
	padding: 1%;
}
.pUserTitle{
	font-size: 20px;
}
.pUserTitle a{
	text-decoration: none;
	color: #000;
}
hr{
	height: 1px;
	border:none;
	border-top: 1px dashed #cccccc;
}
.imgShow{
	/*-webkit-filter: blur(10px); /*模糊*/
	/*width: 30px;*/
	position: relative;
	float: right;
	top: -38px;
	right: 5px;
	/*left: 94%;*/
	/*border: 1px solid red;*/
}
.divDisplay{
	margin: 0;
	width: 30px;
	height: 35px;
	padding: 5px 0 0 0;
	position: relative;
	background-color: #AAAAAA;

	top: -20px;
	left: 25px;
	display: block;
	float: right;
	text-align: center;/*文字居中*/
	text-align:button;
	font-size: 12px;
	/*border: 1px solid red;*/
	display: none;
	
}
.divDisplay p a{
	text-decoration: none;
	color: #ffffff;
}
.pUserContent{
	text-indent:2em;
	font-size: 16px;
}
.pUser_1{
	position: relative;
	float: right;
	font-size: 10px;
	bottom: 4px;
}
#divTran{
	width: 50%;
	font-size: 18px;
	margin: auto;
	/*border: 1px solid red;*/
	/*padding: 0 0 0 100px;*/
}
#divP{
	color: #000;
}
#divTran a{
	margin:0 0 0 15px;
	color: #fff;
	text-decoration: none;
}
